name: GitHub Profile Views Counter CI
on:
  schedule:
    - cron: '0 */6 * * *'
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2
      with:
        token: ${{ secrets.GITHUB_TOKEN }}

    - name: Set up Node.js
      uses: actions/setup-node@v3
      with:
        node-version: '20'

    - name: Install dependencies
      run: npm install

    - name: Install pangocairo dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y libcairo2-dev libjpeg-dev libpango1.0-dev libgif-dev build-essential g++
        export PKG_CONFIG_PATH=/usr/lib/x86_64-linux-gnu/pkgconfig

    - name: Run your script
      run: npx node-chart-exec@2.0.1 --type='line' --options='true' --height=400 --width=400 --labels='["2025/1","2025/2","2025/3","2025/4","2025/5","2025/6","2025/7","2025/8","2025/9","2025/10","2025/11","2026/0","2026/1"]' --dataset='[{"label":"Unique", "data":[5,4,1,0,2,0,2,1,2,0,0,0,1], "backgroundColor":"#00a1c1", "borderColor":"#008bad"}, {"label":"Count", "data":[5,4,1,0,2,0,2,2,2,0,0,0,1], "backgroundColor":"#00ffff", "borderColor":"#00e7f2"}]' --outputfile='graph/505268293/small/year.png'
  release:
    name: GitHub Profile Views Counter Action
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v2.3.4
        with:
          token: ${{ secrets.INSIGHTS_TOKEN }}
      - uses: actions/setup-node@v2.1.5
        with:
          node-version: 14.17.0
      - uses: gayanvoice/github-profile-views-counter-action@3.0.0
        env:
          INSIGHTS_TOKEN: ${{ secrets.INSIGHTS_TOKEN }}
